* {
    font-family: 'Gaegu', cursive;
    font-family: 'Hahmlet', serif;
    font-family: 'Jua', sans-serif;
}







.teammain {
    height: 1000px;
    display: flex;
    flex-direction: column;/*부모div 안 자식요소를 수직으로 정렬*/
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;/* 수직 중앙 정렬 */
    color: rgb(254, 229, 153);
    background: url('../img/star.png') fixed;

}

.horizmain {
    display: flex;
    justify-content: center;
}

.teammain h1{
    font-size: 100px;

}

.teammain h6{
    margin-top: 20px;

}

#btn_home {
    display: flex;
    padding: 10px 20px;
    background-color:rgb(255, 247, 221);
    border: none;
    border-radius: 30px;
    color: green;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn_home:hover {
    color: rgb(144, 206, 144);
  }




.team {
    height: 300px;
    /*가로 가운데*/
    justify-content: center;

    /*세로 가운데*/
    display: flex;
    flex-direction: column;/*부모div 안 자식요소를 수직으로 정렬*/
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;/* 수직 중앙 정렬 */

    background-color: rgb(254, 229, 153);
}

.teamtitle {
    padding: 10px;
    color: #5c5b55; /* 텍스트 색상 */
    font-size: 50px;
    /*두개의 div를 겹치게 만든다음 hover시 
    색의 변화를 줘서 글자가 바뀌는 것같은 효과를 줌*/
    position: relative;
}
.teamcontent{
    padding: 5px;
    font-size: 25px;
    line-height: 2.5; /* 텍스트 줄 간격 */
    /*두개의 div를 겹치게 만든다음 hover시 
    색의 변화를 줘서 글자가 바뀌는 것같은 효과를 줌*/
    position: absolute;
    opacity: 0;
}


.team h1 {
    color: white;

}
/*team123의 부모*/
.teamcontents {
    height: 600px;
    padding: 10px;
    padding-top: 30px;
    /*가로*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    animation: slide 2s ease-out;

}

#team1 {
    width: 400px;
    height: 300px;
    border-radius: 20px 100px 100px 20px;
    border: 10px solid;
    background-color: white;
    border-color: rgb(254, 229, 153);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 200px;
}

#team1:hover{
    background-color: rgb(254, 229, 153);

}
#team1:hover .teamcontent{
    opacity: 1;
}
#team1:hover .teamtitle{
    background-color: rgb(254, 229, 153);
    opacity: 0;
}

#team2 {
    width: 400px;
    height: 300px;
    border-radius: 20px 100px 100px 20px;
    border: 10px solid;
    background-color: white;
    border-color: rgb(254, 229, 153);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 25px;

}

#team2:hover{
    background-color: rgb(254, 229, 153);

}
#team2:hover .teamcontent{
    opacity: 1;
}
#team2:hover .teamtitle{
    background-color: rgb(254, 229, 153);
    opacity: 0;
}

#team3 {
    width: 400px;
    height: 300px;
    border-radius: 20px 100px 100px 20px;
    border: 10px solid;
    background-color: white;
    border-color: rgb(254, 229, 153);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px 0 25px;
}

#team3:hover{
    background-color: rgb(254, 229, 153);

}
#team3:hover .teamcontent{
    opacity: 1;
}
#team3:hover .teamtitle{
    background-color: rgb(254, 229, 153);
    opacity: 0;
}

/*나타나는 슬라이드 애니메이션*/
@keyframes slide {
    from{
        margin-left:-300px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*사라지는 슬라이드 애니메이션*/
@keyframes backslide {
    from{
        opacity: 1;
    }
    to {
        margin-left:-300px;
        opacity: 0;
    }
}
