#comment {
    width: 800px;
}

th {
    text-align: center;
}

textarea {
    resize: none;
}

#cmt_wr {
    width: 800px;
    display: flex;
}

#user_data {
    width: 120px;
}
.control_wrap{
    display: flex;
    text-align: right;
}
.chk_pw{
    width:80px;
    height:20px;
    border: none;
}
.control_btn{
    width:40px;
    height: 20px;
    border: none;
}
#delete{
    background-color: #ff2400;
    color: white;
}
#delete:hover{
    background-color: #d30000;
}
.comment_edit{
    height:32px !important;
    padding: 0px;
    margin-top:-6px;
}
.cmt_wrap{
    width:100%;
    display: flex;
}
#comment_detail {
    width:500px;
}
.comment{
    height: 100% !important;
    width:100%;
}